<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

  <head>
    <%= render "layouts/common_head", default_title: "Management" %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= content_for :head %>
  </head>

  <body class="admin">
    <%= render "layouts/admin_header", current_user: manager_logged_in %>

    <main class="no-margin-top row expanded collapse">
      <div class="small-12 medium-3 column">
        <%= render "/management/menu" %>
      </div>

      <%= render "management/account_info" %>

      <div class="admin-content small-12 medium-9 column">
        <%= render "layouts/flash" %>
        <%= yield %>
      </div>
    </main>

  </body>
</html>
